*.log
.DS_Store
.garden
.vscode
.idea
node_modules
env/.current_project
packages/node/.env
.env


packages/e2e2/codegen-config/*.yaml
packages/e2e2/**/.graphqlconfig
packages/e2e2/**/generated/*
packages/e2e2/public/*
.now
.version
packages/hasura/hasura-migration/config.yaml
tmp
